@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme {
  --color-customBlue: #342342;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131639;
    --foreground: #ededed;
  }
}
